.dates {
  z-index: 1;
  position: absolute;
  top: 200px;
  left: 250px;
  white-space: nowrap;
  font-family: Arial, sans-serif;
  font-size: 200px;
  text-align: center;
}

.startDate {
  font-weight: bold;
color: #ff6b6b;
}

.finishDate {
  font-weight: bold;
  color: #4a90e2
}