.startDate {
  font-weight: bold;
  color: #ff6b6b;
}

.finishDate {
  font-weight: bold;
  color: #4a90e2
}


@media (min-width: 1280px) {
  .dates {
    z-index: 1;
    position: absolute;
    top: 200px;
    left: 250px;
    white-space: nowrap;
    font-family: Arial, sans-serif;
    font-size: 200px;
    text-align: center;
  }
}
@media (max-width: 1280px)  {
  .dates {
    font-family: Arial, sans-serif;
    font-size: 56px;
    text-align: center;
    margin-bottom: 7vh;
  }
}